@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css');

body,
#app {
  height: 100vh;
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #f5f6fa;
}
